@import "../../../../packages/ui/src/styles/globals.css";
@import "flag-icons/css/flag-icons.min.css";

@source "../**/*.{ts,tsx,js,jsx,mdx}";

/* Animation for Realtime updated rows */
@keyframes highlight-pulse {
  0% {
    background-color: rgb(254 249 195);
  }
  50% {
    background-color: rgb(254 240 138);
  }
  100% {
    background-color: rgb(254 249 195);
  }
}

.animate-highlight {
  animation: highlight-pulse 1s ease-in-out;
}

/* BlockNote editor styles */
.bn-container {
  a {
    @apply underline text-blue-800;
  }

  [data-node-type="blockContainer"]:has([data-content-type="toggleListItem"]) {
    @apply relative p-2;
    &::after {
      @apply border border-gray-200 rounded-sm content-[''] pointer-events-none absolute inset-0 z-0;
    }
    [data-content-type="toggleListItem"] {
      @apply text-xl font-bold;
    }
  }
}
